<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teamfoodie">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".epantry.UserLoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".epantry.LandingPageActivity"/>
        <activity android:name=".epantry.AddIngredientActivity"/>
        <activity android:name=".epantry.ViewPantryActivity"/>
        <activity android:name=".epantry.PantryUpdateActivity"/>
        <activity android:name=".epantry.DietaryRequirementActivity"/>
        <activity android:name=".epantry.MainActivity"/>
        <activity android:name=".epantry.EditUserDetailsActivity"/>
        <activity android:name=".epantry.MyPreferences"/>
        <activity android:name=".epantry.PantryScannerActivity"/>
        <activity android:name=".epantry.SignupFormActivity"/>
        <activity android:name=".epantry.ViewAllRecipesActivity"
            android:windowSoftInputMode="stateVisible|adjustNothing"/>
        <activity android:name=".epantry.UserRecipeActivity"/>
        <activity android:name=".epantry.ViewSelectedRecipeActivity"/>
        <!--<activity android:name=".epantry.ShoppingListActivity"/>-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.teamfoodie.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>




    </application>

</manifest>